<div id="<%= dom_id todo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= todo.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Done:</strong>
    <%= todo.done %>
  </p>

  <%= link_to 'Edit this todo', edit_todo_path(todo), data: { reflex: "click->TodoReflex#edit", todo_id: todo.id }, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to 'Destroy this todo', todo_path(todo), method: :delete, data: { reflex: "click->TodoReflex#destroy", todo_id: todo.id }, class: "bg-red-100 mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>
  <hr class="mt-6">
</div>
